{% extends 'emails/base.html.twig' %}

{% block titre %}TEST NOTIFICATION GESIP{% endblock %}

{% block preContents %}
    <tr>
        <td align="left" style="text-align: left;">
            <p></p>
            <p><strong>TEST DE NOTIFICATION GESIP</strong></p>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
{% endblock %}
