{% extends 'emails/demandes/baseIntervention.html.twig' %}

{% block titre %}DELAI DE LA REPONSE DEPASSE{% endblock %}

{% block preContents %}
    <tr>
        <td align="left" style="text-align: left;">
            <p></p>
            <p><strong>REPONSE EN RETARD SUR UNE DEMANDE D'INTERVENTION PROGRAMMEE</strong></p>
            <p><strong>Numéro de la demande d'intervention : </strong>{{ demandeIntervention.numero }}</p>
            <p>La réponse du service <strong>{{ equipe.label }}</strong> à cette intervention est en retard.</p>
            <p>Le service <strong>{{ demandeIntervention.demandePar.label }}</strong> demande une intervention sur le composant <strong>{{ demandeIntervention.composant.label }}</strong>.</p>
            </p>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
{% endblock %}
