.meteo-composants {
  .meteo-composant-item {
    position: relative;
    width: 100%;
    margin: 5px;
    height: 50px;
    padding-right: 40px;
    display: block;

    .meteo-composant-label {
      font-weight: bold;
      color: black;
      transition: color .2s ease;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      top: 25%;
      font-size: .8em;
    }

    &:hover .meteo-composant-label {
      color: white;
    }

    .meteo-composant-indice {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      right: 5px;
      height: 40px;
      width: 40px;
      transform: translateY(-50%);

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}


/**
 * Styles spécifiques à la saisie de la météo
 */
.meteo-modifier {
    table {
        font-size: .9rem;
        td.text {
            width: 18rem;
        }
        td.buttons {
            width: 6rem;
            text-align: right;
        }
        .period {
            width: 10.5rem;
            position: relative;
        }
        .period button {
            position: absolute;
            top: 1rem;
            right: 0;
        }
    }
}
.image-indice-meteo {
  width: 10em;
}

/**
 * Style spécifiques aux statistiques
 */
 .meteo-resultat-tableau, .meteo-resultat-vide {
   margin-top: 2rem;
   .scrollable {
      overflow: scroll; width: 100%;
   }
 }

/**
 * Style spécifiques aux statistiques des interventions
 */
.multiradio {
  .mainradio {
    margin-top: 1rem;
  }
  .mainradio + label {
    color: #016e9f;
  }
  .subradios {
    margin-left: 3rem;
  }
}

.titre-etat {
  font-size: 1.4rem;
}
