.tableau-bord {

    .card {
        margin-bottom: 1.5rem;
        padding: 1rem;
        .title {
            font-weight: bold;
        }
        #recherche_demande_intervention_status {
            input {
                margin-right: .2rem;
            }
            label {
                margin-right: 1rem;
            }
        }
    }

    .card>div {

        float: left;


    }

}
