{% extends 'emails/demandes/baseIntervention.html.twig' %}

{% block titre %}INFORMATION SUR UNE DEMANDE D'INTERVENTION PROGRAMMEE{% endblock %}

{% block preContents %}
<tr>
    <td>
        <p>Le service <b>{{ demandeIntervention.composant.equipe.label|default(app.user) }}</b> vous informe que le service  <b>{{ demandeIntervention.demandePar.label }}</b> envisage une intervention sur le composant <b>{{ demandeIntervention.composant.label }}</b> (<b>{{ demandeIntervention.motifIntervention.label }}</b>).</p>
        <p>Cette intervention est susceptible de générer une indisponibilité pour plusieurs composants.</p>
    </td>
</tr>
<tr><td>&nbsp;</td></tr>
{% endblock %}
